Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# external resources
Content/Horror_pack
Content/Hospital
Content/SciFiOrionMarsLivingQuarters
Content/SciFiOrionMarsMedLab
Content/PersonalCollection
Content/Forest_Environment_Set
Content/PolygonFantasyKingdom
